html {
  height: 100%;
  padding: 80px;}
h1 {
    background-color: Rgba(41,87,57,0.9);
    padding: 7px;
    font-size: 35;
    text-align: Center;
    border: 10px groove black;
    display: block;
    width: auto;
}
body {
    width: auto;
    height: 100%;
    Background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Space_Needle002.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
nav {text-align:center;
      background-color: Rgba(5,45,45,1);
      border: 10px groove;
      font: 25px groove;
      font-style: bold;}
section {background-color: Rgba(69,74,92,0.9);
    border: 10px groove #1a7DE8;
    width: Auto;
    color: white;
    text-align: center;
    font-size: 18;}
